@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1500px;
  height: 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* header section css  */

.header {
  background-color: #1b1f24;
  font-size: 4rem;
  color: white;
  padding: 2rem;
}

span{
    color: #085dde;
}

.list {
  list-style: none;
}

.list a {
  color: white;
  text-decoration: none;
  margin: 2rem;
  font-size: 3.2rem;
}

.list a:hover {
  color: #085dde;
  font-size: 3.6rem;
  transition: ease-in-out 0.15s;
}