@import url("https://fonts.googleapis.com/css?family=Itim");
@import url("https://fonts.googleapis.com/css?family=Josefin Sans");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

body{
    background-color: white;
}

.header{
    font-size: 8rem;
    padding: 1rem;
}

.aleft{
    align-items: left;
    font-family: "Itim", monospace;
    font-size: 5rem;
    color: rgba(155,215,216,255);
}

.container{
    margin: 0 auto;
    max-width: 155rem;
    height: 5rem;
}

.list{
    list-style: none;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.list a{
    color: rgba(155,215,216,255);
    text-decoration: none;
    font-size: 3rem;
    margin: 1rem;
}

span{
    color: rgba(155,215,216,255);
}

.list a:hover {
    color:  black;
    background-color: rgba(155,215,216,255);
    font-size: 3rem;
    padding: 1rem;
    border-radius: 15px;
    transition: ease-in-out 0.15s;
  }

  .main{
    color:  black;
    background-color: rgba(155,215,216,255);
    height: 65rem;
    font-size: 2rem;
    padding: 1rem 5rem;
    max-width: 155rem;
    margin: 0 auto;
  }

  .left-main{
    max-width: 80rem;
    padding-left: 2rem;
  }

  .h-main{
    font-size: 7rem;
    max-width: 40rem;
    margin-bottom: 1rem;
  }

  .hor-bar {
    width: 180px;
    background-color: whitesmoke;
    height: 3px;
  }

  .p-main{
    margin-top: 2rem;
    font-size: 3rem;
    max-width: 60rem;
    margin-bottom: 2rem;
  }

  .img{
    background-repeat: no-repeat; 
    border-radius: 100%;
    margin-right: 5rem;
  }

  .image{
    background-image: url('./IMG-20221122-WA0007-removebg-preview.png');
    background-size: 100%;
    background-position:50% 100%;
    width: 400px;
    height: 400px;
  }

  .ref{
    display: flex;
    flex-direction: row;
  }

  .img1{
    background-image: url('./linkedin.png');
    background-size: 100%;
    width: 40px;
    height: 40px;
  }

  .img2{
    background-image: url('./github.png');
    background-size: 100%;
    width: 40px;
    height: 40px;
  }

  .secr{
    height: 50rem;
    padding: 3rem 13rem;
    max-width: 155rem;
    min-height: 65rem;
    margin: 0 auto;
    
  }

  .sbsk{
    font-size: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sk{
    margin-left: 45%;
    width: 20rem;
    height: 20rem;
  }

  .r1{
    border-radius: 15px;
    outline: 5px solid rgba(155,215,216,255);
    width: 40%;
    padding-bottom: 2rem;
    text-align: center;
    /*margin-top: 15rem;*/
  }

  .r11{
    background-color: rgba(155,215,216,255);
    padding: 2rem 0;
    color: black;
  }

  .r12{
    color: rgba(155,215,216,255);
    margin: 3rem auto;
  }

  .card{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .top{
    margin-top: 5rem;
    text-align: center;
    font-size: 10rem;
  }
  .pro{
    /*margin: 5rem;*/
  }

  .ti{
    font-size: 6rem;
    color: whitesmoke;
    margin: 2rem
  }

  .bo{
    list-style-type:disc;
    color: whitesmoke;
    font-size: 4rem;
    margin: 1rem;
  }

  .footer
  {
    margin: 0 2rem;
    font-size: 4rem;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .fo{
    width: 3rem;
    height: 3rem;
  }