@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(242, 234, 219);
}

.header{
    font-size: 8rem;
    padding: 1rem;
}

.aleft{
    align-items: left;
}

.container{
    margin: 0 auto;
    max-width: 150rem;
    height: 5rem;
}

.list{
    list-style: none;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list a{
    color: #54B435;
    text-decoration: none;
    font-size: 3rem;
    margin: 1rem;
}

span{
    color: #54B435;
}

.list a:hover {
    color:  rgb(242, 234, 219);
    background-color: #54B435;
    font-size: 3.6rem;
    padding: 1rem;
    border-radius: 10px/20px;
    transition: ease-in-out 0.15s;
  }

  .body{
    color:  rgb(242, 234, 219);
    background-color: #54B435;
    height: 50rem;
  }